<html>
<head>
<title>Introduction to linux</title>
</head>
<body>
<h2>Hey Linux...</h2>
<ol>
	<h3>Simple Commands</h3>
	<li><p>ctrl + alt + t to open a terminal</p></li>
	<li>man command: Shows a manual page of a certain topic.</li>
	<p>Type: man pwd and hit enter to see what 'pwd' command does.</p>
		<li><p>Type: </p></li>
		<li><p>Type: </p></li>
		<li><p>Type: </p></li>
		<li><p>Type: </p></li>
	</ul>	
	<li></li>
	<ul>
		<li><p></p></li>
		<li><p></p></li>
		<li><p></p></li>
	</ul>
			
	</ol>
</body>
</html>
